/*------------------------------------*\
    $Text Note
\*------------------------------------*/

.text--note {
    @include font-smoothing;
    display: block;
    // Break word, especially long links
    word-break: break-word;
    // Paragraph text in design docs (mixin?)
    font-family: $font-secondary;
    font-weight: 400;
    // Responsive points
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 $gutter-mobile;
    padding: 0px;
    @include gridle_state( tablet-portrait ){
        font-size: 15px;
        line-height: 23px;
    }
    @include gridle_state( tablet-landscape ){
        font-size: 16px;
        line-height: 24px;
    }
    @include gridle_state( desktop ){
        font-size: 17px;
        line-height: 25px;
    }
    @include gridle_state( desktop-wide ){
        font-size: 18px;
        line-height: 26px;
    }
}