/*------------------------------------*\
	$TABLE OF CONTENTS
\*------------------------------------*/


/**
 *
 * Vendor ---------------------------
 * .....Gridle
 * .....Normalize
 *
 * Config ---------------------------
 * .....Variables
 * .....Type
 * .....Grid
 * .....Animation
 *
 * Lib ------------------------------
 * .....Mixins
 *
 * Atoms ----------------------------
 * Molecules ------------------------
 * Organisms ------------------------
 * Templates ------------------------
 * Pages ----------------------------
 *
 */


/*------------------------------------*\
	$VENDOR
\*------------------------------------*/
@import 'vendor/gridle/gridle';
@import 'vendor/normalize';

/*------------------------------------*\
	$CONFIG
\*------------------------------------*/
@import 'config/variables';
@import 'config/type';
@import 'config/grid';
@import 'config/mixins';

/*------------------------------------*\
	$ATOMS
\*------------------------------------*/
@import '00-atoms/base';
@import '00-atoms/media';
@import '00-atoms/logo';
@import '00-atoms/text-heading';
@import '00-atoms/text-section-heading';
@import '00-atoms/text-sub-heading';
@import '00-atoms/text-introduction';
@import '00-atoms/text-paragraph';
@import '00-atoms/text-copyright';
@import '00-atoms/text-chapter-name';
@import '00-atoms/text-quote';
@import '00-atoms/text-attribution';
@import '00-atoms/text-note';
@import '00-atoms/text-note_title';

/*------------------------------------*\
	$MOLECULES
\*------------------------------------*/
@import '01-molecules/column';
@import '01-molecules/block-blockquote';
@import '01-molecules/progress';

/*------------------------------------*\
	$ORGANISMS
\*------------------------------------*/
@import '02-organisms/_page-navigation';
@import '02-organisms/_page-footnotes';
@import '02-organisms/_page-share';
@import '02-organisms/_page-menu';
@import '02-organisms/_page-branding';
@import '02-organisms/_site-showcase-link';
@import '02-organisms/section-cover';
@import '02-organisms/section-locked-background';
@import '02-organisms/section-locked-column';
@import '02-organisms/section-reveal';
@import '02-organisms/section-single-column';
@import '02-organisms/section-fullscreen_title';
@import '02-organisms/section-call_to_action';

/*------------------------------------*\
	$TEMPLATES
\*------------------------------------*/
@import '03-templates/default';

/*------------------------------------*\
	$PAGES
\*------------------------------------*/
// @import '04-pages/grid-example';
@import '04-pages/page-example';


.column--example {

	@include gridle_set((
        grid : 1
    ));

    height: 100%;

	> .content {
		height: 100%;
		background: rgba( red, 0.3 );
	}
}