<div class="section--locked_column">
    <div class="content">

        <div class="section--scroll">
            {% include "molecules-stream-text-left" %}
        </div>

        <div class="section--locked">
            {% include "molecules-stream-image-right" %}
        </div>

    </div>
</div>