<div class="section--locked_background">
    <div class="content">

        <div class="section--locked">
             {% include "molecules-image-background" %}
        </div>

        <div class="section--scroll">
            <div class="section--scroll-right">
                <div class="content">
                    {% include "atoms-section-heading" %}
                    {% include "atoms-heading" %}
                    {% include "atoms-sub-heading" %}
                    {% include "atoms-introduction" %}
                    {% include "atoms-paragraph" %}
                    {% include "atoms-paragraph" %}
                </div>ß
            </div>
        </div>

    </div>
</div>