<div class="block--video">
    <div class="content">
        <video 
        	class="video--cover"
        	data-src="{{ url }}"
         	autoplay="autoplay"
         	loop="loop"
         	muted=""
        >
        </video>
    </div>
</div>