<div class="text">
	<p class="text--paragraph"><a href="#">This is a text link</a></p>
	<p class="text--paragraph"><strong>Strong is used to indicate strong importance</strong></p>
	<p class="text--paragraph"><em>This text has added emphasis</em></p>
	<p class="text--paragraph">The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
	<p class="text--paragraph">The <i>i element</i> is text that is set off from the normal text</p>
	<p class="text--paragraph">The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
	<p class="text--paragraph"><small>This small text is small for for fine print, etc.</small></p>
	<p class="text--paragraph"><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
	<p class="text--paragraph"><cite>This is a citation</cite></p>
	<p class="text--paragraph">The <mark>mark element</mark> indicates a highlight</p>
</div><!--end .text-->