
<div class="share--introduction">
	<div class="content">

		{% include "atoms-paragraph" with { content : "Help us to spread the word" } %}
		{% include "atoms-sub-heading" with { content : "AND SHARE THIS REPORT" } %}
		{% include "atoms-paragraph" with { content : "Help spread the word by sharing the Mining For Our Minerals report.  We need your help to raise awareness about this issues. You can display a print friendly low bandwidth version of this report. " } %}

	</div>
</div>


<div class="share--links">
	<div class="content">

		<a href="#" class="link--facebook">
		    <div class="image--icon">
		        <svg class="icon--facebook"  width="70" height="70">
		            <use x="0" y="0" xlink:href="#facebook" />
		        </svg>
		    </div>
		</a>

		<a href="#" class="link--twitter">
		    <div class="image--icon">
		        <svg class="icon--twitter"  width="70" height="70">
		            <use x="0" y="0" xlink:href="#twitter" />
		        </svg>
		    </div>
		</a>

		<a href="#" class="link--google">
		    <div class="image--icon">
		        <svg class="icon--google_plus"  width="70" height="70">
		            <use x="0" y="0" xlink:href="#google_plus" />
		        </svg>
		    </div>
		</a>

		<a href="#" class="link--linkedin">
		    <div class="image--icon">
		        <svg class="icon--linkedin"  width="70" height="70">
		            <use x="0" y="0" xlink:href="#linkedin" />
		        </svg>
		    </div>
		</a>

		<a href="?accessible=true" class="link--print">
		    <div class="image--icon">
		        <svg class="icon--print"  width="70" height="70">
		            <use x="0" y="0" xlink:href="#print" />
		        </svg>
		    </div>
		</a>

	</div>
</div>

