.section--fullscreen_title {

    > .content {
        color: $color--base;
    }

    .content--locked {
        @include gridle_container;
        @include lockedBackground;
    }

    .content--scroll {
        @include outterGutter;
        height: 100%;

    }
    
    // Different grid setup for title blocks
    .column--middle {

        @include gridle_set((
            grid : 12,
            push: 0,
            tablet-portrait: (
                push: 1,
                grid : 10
            )
        ));

    }

    // Vertically align title columns
    .column--middle,
    .column--left,
    .column--right {

        position: relative;
        height: 100%;

        transition:
            opacity 550ms linear 0ms,
            transform 950ms $ease--primary 0ms;

        > .content {
            position: relative;
            height: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
        }
    }

    .block--image-blur.loaded .image--blur {
        filter: blur( 0px );
    }

    /*
        State & Animations
    */
    &.anim--in {

        .content--scroll {
            transform: translate3d( 0%, 0%, 0 );

            .direction--up & {
                transform: translate3D( 0%, 0%, 0px );
            }
            transition:
                opacity 550ms linear 0ms,
                transform 1000ms $ease--primary 300ms;
        }

        .content--locked {
            transform: translate3d( 0%, 0%, 0 );

            .direction--up & {
                transform: translate3D( 0%, 0%, 0px );
            }
            transition:
                opacity 550ms linear 0ms,
                transform 1000ms $ease--primary 150ms;
        }

        &-setup {

            .content--scroll {
                transform: translate3D( 0%, 40%, 0px );

                transition-duration: 0ms;
                transition-delay: 0ms;

                .direction--up & {
                    transform: translate3D( 0%, -40%, 0px );
                }

            }

            .content--locked {
                transform: translate3D( 0%, 40%, 0px );

                transition-duration: 0ms;
                transition-delay: 0ms;

                .direction--up & {
                    transform: translate3D( 0%, -40%, 0px );
                }

            }
        }
        &-transition {

            .content--scroll {
                transition:
                    opacity 550ms linear 0ms,
                    transform 1000ms $ease--primary 300ms;
            }
            .content--locked {
                transition:
                    opacity 550ms linear 0ms,
                    transform 1000ms $ease--primary 150ms;
            }
            
        }
    }

    &.anim--out {

       .content--scroll {
            transform: translate3d( 0%, -40%, 0 );
           .direction--up & {
                transform: translate3D( 0%, 40%, 0px );
            }

            transition:
                opacity 550ms linear 0ms,
                transform 1000ms $ease--primary 0ms;

       }

       .content--locked {
            transform: translate3d( 0%, -40%, 0 );
           .direction--up & {
                transform: translate3D( 0%, 40%, 0px );
            }

            transition:
                opacity 550ms linear 0ms,
                transform 1000ms $ease--primary 0ms;

       }

       &-setup {

            transition-duration: 0ms;
            transition-delay: 0ms;

       }
       &-transition {

           .content--scroll {
               transition:
                   transform 1000ms $ease--primary 0ms;
           }
           .content--locked {
               transition:
                   transform 1000ms $ease--primary 0ms;
           }
           
       }
    }

    /*
        Showcase animation
    */
    .showcase--in & {
        // Hide text
        .column--left,
        .column--middle,
        .column--right {
            opacity: 0;
            transform: translate3d( -25%, 0%, 0 );
        }
        
    }

    /*
        Themes
    */
    &.theme--dark {
        > .content {
            color: $color--white;
        }
    }

}
